# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
backend/app/uploads/
backend/app/models/fraud_model.joblib
backend/venv/

# Node
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
.vscode/
.idea/
*.log
